html {height:100%}



body {
  width: 100%;
  height: 100%;
  margin:0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color:black;
  /* background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/GAojbUa/space-background-loop-animation_vjn1rkcge__F0000.png"); */


}

img {
  width:150px;
  padding:20px;

}
.masterbox {
  display: flex;
  flex-direction: column;
  align-items: center;

}

h1 {
  font-family: 'Righteous', cursive;
  color:white;
  padding:15px;
  border-style: inset;
  border-color: blue;
  border-radius: 10px;
  background-color:black;

}
#button1 {
  display:flex;
  margin:auto;
  justify-content: center;
  width:100px;
  font-family: 'Righteous', cursive;
  font-size: 25px;
  background-color: black;
  color:white;
}

#thicc {
  padding:5px;
  border-style: inset;
  border-color: blue;
  border-radius: 10px;
}

#button1:hover {
  background-color:gray
}

input {
  margin:10px
}

#complete {
display: flex;
justify-content: center;
}

#leForm {
  color:white;
  padding:15px;
  border-style: inset;
  border-color: blue;
  border-radius: 10px;
  background-color:black;
  margin-bottom: 10px;
}
p{
  font-family: 'Exo', sans-serif;
  font-size:20px;
  font-weight: bold;
}

#whytext >input[type="text"] {
  width:600px;
  height:30px;


}

#water {
  color:white;
  padding:15px;
  border-style: inset;
  border-color: blue;
  border-radius: 10px;
  background-color:black;
  margin-bottom: 10px;
  justify-content: space-between;
}

#marital {
  color:white;
  padding:15px;
  border-style: inset;
  border-color: blue;
  border-radius: 10px;
  background-color:black;
  margin-bottom: 10px;
}
#situation {
  color:white;
  padding:15px;
  border-style: inset;
  border-color: blue;
  border-radius: 10px;
  background-color:black;
  margin-bottom: 10px;
}
#claustrophobic {
  color:white;
  padding:15px;
  border-style: inset;
  border-color: blue;
  border-radius: 10px;
  background-color:black;
  margin-bottom: 10px;
}
#education {
  color:white;
  padding:15px;
  border-style: inset;
  border-color: blue;
  border-radius: 10px;
  background-color:black;
  margin-bottom: 10px;
  display:flex;
  flex-direction: column;
}
#alive {
  color:white;
  padding:15px;
  border-style: inset;
  border-color: blue;
  border-radius: 10px;
  background-color:black;
  margin-bottom: 10px;
}
#disease {
  color:white;
  padding:15px;
  border-style: inset;
  border-color: blue;
  border-radius: 10px;
  background-color:black;
  margin-bottom: 10px;
}
